<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>C Compilation</title>

    <link rel=stylesheet href="../assets/style/gcc.css"> 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.1/css/bulma.css">

    <script type="text/javascript" src="../compilation/c_cpp.js"></script>
    <script type="text/javascript" src="../config.js"> </script>
    <script>if (typeof module === 'object') {window.module = module; module = undefined;}</script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script>if (window.module) module = window.module;</script>
  </head>
  <body>
    <section class="section"> 
      
      <nav class="level">
         <div class="level-left">
         <div class="level-item" id="bm">
          <a href="#"> ← Back </a>
        </div>
        </div>
        <div class="level-item has-text-center">
          <h1 class="title">C compilation</h1>
        </div>
      </nav>

      <div class="box">
        <div class="container">
          <div class="level">
            <div class="file has-name level-item">
              <label class="file-label">
                <input class="file-input" id="f2c" type="file" name="file2compile">
                <span class="file-cta">
                  <span class="file-icon">
                    <i class="fa fa-upload"></i>
                  </span>
                  <span class="file-label has-text-centered">
                    Choose a file…
                  </span>
                </span>
                <input class="file-name" id="pn" placeholder="Project Name...">
              </label>
            </div>

            <div class="to level-item">
              <div class="select">
                <select name="os">
                  <option value="win">Windows</option>
                  <option value="mac">MAC OS X</option>
                  <option value="lin">Linux</option>
                </select>
              </div>  
            </div>

            <div class="ta">
              <div class="select level-item">
                <select name="arch">
                  <option value="32">x86_x32</option>
                  <option value="64">x86_x64</option>
                </select>
              </div>
            </div>

            <div class="makefile level-item"> 
              <label>
                <input id="gm" type="checkbox" name="gm" checked>
                <span>Generate a Makefile</span>
              </label>
            </div>
            <button class="button" id="cb" type="button" name="button">Compile</button>
          </div>
        </div>
      </div>

      <div class="info box">
          <div class="content path">
            
          </div>
        </div>
      </div>
      <div class="hero is-danger is-large has-text-left">
        <div class="hero-body">
          <div class="errors container" id="gcc_errors">
            <h4 class="title is-1">Errors</h4>
          </div>
          <div id="gcc_errors_content"> </div>
       </div>
      </div>
    </section>
    <script type="text/javascript">
      
      const electron = require('electron');
      const ipc = electron.ipcRenderer;

      let cmd;
      let filename;
      let filePath = [], fileNames = [];
      let fullPath;
      let gcc;
      let input_file = document.getElementById("f2c");
      let input_folder = document.getElementById("fold2c");
      let projectName;
      let pwd = shell.exec("pwd");
          pwd = pwd.slice(0, -1);
      let submit = $("#cb");
      
      function printErrors(file){
        let rawFile = new XMLHttpRequest();
        rawFile.open("GET", file, false);
        rawFile.onreadystatechange = function (){
          if(rawFile.readyState === 4){
            if(rawFile.status === 200 || rawFile.status == 0){
              let allText = '<p class="subtitle">';
                  allText += rawFile.responseText;
                  allText = allText.replace(/[\n\r]/g, '</p><p class="subtitle">'); //replace all \n or \r by <p></p>
              $("#gcc_errors_content").html(allText);

            }
          }
        }
        rawFile.send(null);
      }

      function setPlaceholers(name){
        $("#dots").attr('placeholder', 'By default: ' + name + '.s');
        $("#doto").attr('placeholder', 'By default: ' + name + '.o');
        $("#dotout").attr('placeholder', 'By default: ' + name + '.out');
      }

      $("#bm").on('click', function(e){
        e.preventDefault();
        ipc.send('goto:menu', 'index');
      });

      $("#f2c").change(function(){
          fileNames = []; filePath = [];
          fullPath = input_file.files[0].path;
          filePath.push(input_file.files[0].path.split('/').slice(0, -1).join('/'));
          filename = filePath[0].split('/').slice(-1)[0].split('.')[0]; //Get the name of the file without the extension
          
          $(".file-name").attr('placeholder', 'By default: ' + filename);
          $(".path").html("<span class=''>Path: " + fullPath + "</span>");

          setPlaceholers(filename);
          
          readImpignore();

          console.log(fullPath);
          console.log(filePath[0]);
          console.log('filename: ' + filename);
      });

      $("#pn").change(function(){
          if($("#pn").val().length !== 0){
            filename = $("#pn").val();
            console.log(filename);
          }
          else filename = filePath[0].split('/').slice(-1)[0].split('.')[0];
      });

      $("#fold2c").change(function(event) {
          fileNames = []; filePath = [];
          var files = input_folder;
          
          filePath.push(files.files[0].path.split('/').slice(0, -1).join('/'));
          
          for(let i = 0, len = files.files.length; i < len; i++){
            fileNames.push(files.files[i].path.split('/').slice(-1)[0].split('.')[0]);
            console.log("filename: " + fileNames[i]);
          }

          projectName = filePath[0].split('/').slice(-1).join('/');
          if($("#gm:checkbox:checked").length > 0)
            createMakeFile("gcc", projectName, filePath)
          setPlaceholers(filename);

          console.log(input_folder.files);
          console.log(input_folder.files[0].path);
          console.log("filePath: " + filePath[0]);
          console.log('ProjectName: ' + projectName);
      });

      submit.click(function(e){
        gcc = "make 2> logs/gcc_erros.log"
        
        if($("#f2c").val().length === 0){
          $("#gcc_errors_content").html("<span class='subtilte'>Nothing to compile</span>");
        }
        else if($("#gm:checkbox:checked").length > 0){
          createMakeFile("gcc", filename, filePath, function(){shell.exec(gcc)});
          printErrors('file://' + __dirname + '/../logs/gcc_erros.log')
        }
        else{ 
          shell.exec(gcc);
          printErrors('file://' + __dirname + '/../logs/gcc_erros.log') 
        }
        console.log(gcc);
      });
    </script>
  </body>
</html>
