<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>C++ Compilation</title>

    <script type="text/javascript" src="../config.js"> </script>
    <script>if (typeof module === 'object') {window.module = module; module = undefined;}</script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script>if (window.module) module = window.module;</script>

  </head>
  <body>
    <h1>C++ compilation</h1>

    <div class="">
      <input class="f2c" id="f2c" type="file" name="file2compile">
      <input class="fold2c" id="fold2c" type="file" name="folder2compile" multiple />

      <button id="cb" type="button" name="button">Compile</button>
    </div>

    <div class="">

      <form id="of" class="cop" action="index.html">
        <h4>Output Format</h4>
        <input type="radio" name="ot" value="-S"> <input id="dots" type="text" name="" value="" placeholder="a .s file">
        <input type="radio" name="ot" value="-c"> <input id="doto" type="text" name="" value="" placeholder="a .o file">
        <input type="radio" name="ot" value="-o"> <input id="dotout" type="text" name="" value="" placeholder="a .out file">
      </form>

      <form id="w" class="cop" action="index.html">
        <h4>Warnings</h4>
      </form>
      <div class="errros" id="g++_errors">
        <h4>Errors</h4>
      </div>
      <div id="cpp_errors_content" style="color:red">

      </div>
    </div>

    <script type="text/javascript">
      let submit = $("#cb");
      let input_file = document.getElementById('f2c');
      let input_folder = document.getElementById('fold2c');
      var cpp = 'g++ -O3 ';
      var filePath = [];
      var filename;

      function printErrors(file){
        var rawFile = new XMLHttpRequest();
        rawFile.open("GET", file, false);
        rawFile.onreadystatechange = function (){
          if(rawFile.readyState === 4){
            if(rawFile.status === 200 || rawFile.status == 0){
              var allText = rawFile.responseText;
              allText = allText.replace(/[\n\r]/g, '</p></p>');
              //console.log('allText: ' + allText);

              $("#cpp_errors_content").append(allText);
            }
            else console.log('status not ok');

          }
          else console.log('readyState not ok');
        }
        rawFile.send(null);
      }

      function setPlaceholers(name){
        $("#dots").attr('placeholder', 'By default: ' + name + '.s');
        $("#doto").attr('placeholder', 'By default: ' + name + '.o');
        $("#dotout").attr('placeholder', 'By default: ' + name + '.out');
      }

      $("#f2c").change(function(){
          filePath.push(input_file.files[0].path);
          filename = filePath[0].split('/').slice(-1)[0].split('.')[0]; //Get the name of the file without the extension
          console.log(filePath[0]);
          console.log('filename: ' + filename);
          setPlaceholers(filename);
      });

      $("#fold2c").change(function(event) {
          let files = event.target.files;

          for(let i = 0, len = files.length; i < len; i++)
            filePath.push(files[i].path);

          filename = filePath[0].split('/').slice(-2)[0];
          console.log(files);
          console.log(filename);
          setPlaceholers(filename);
      });

      submit.click(function(e){

        if($("#f2c")[0].files.length !== 0){
          cpp += '-o ' + filename + ' ' + filePath + ' 2> logs/cpp_errors.log';
          console.log(cpp);
          shell.exec(cpp);
          printErrors('file://' + __dirname + '/../logs/cpp_errors.log')
          cpp = 'g++ ';
        }
        else if($("#fold2c")[0].files.length !== 0){
          cpp += '-o ' + filename + ' ';

          for(let i = 0, len = filePath.length; i < len; i++)
            cpp += filePath[i] + ' ';

          cpp+= ' 2> logs/cpp_erros.log';
          console.log(cpp);
          shell.exec(cpp);
          printErrors('file://' + __dirname + '/../logs/cpp_errors.log')
          cpp = 'g++ -O3 ';
        }
      });

    </script>
  </body>
</html>
